.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-weight: 600;
}

.red-dot-badge {
  position: relative;
}

.red-dot-badge__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  right: 20px;
}
