.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.user-component__subtitle {
  color: var(--gray-color);
  font-size: 17px;
  display: inline;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__warning {
  color: tomato;
  border: 1.5px solid tomato;
  padding: 0px 6px;
  border-radius: 50%;
  text-align: center;
  display: inline;
  font-size: 11px;
}
